/res/raw/*
.DS_Store
/lib
assets
.gradle/*
/.idea
/out
old/*
/idea/*
*.iml
.settings
.idea
.classpath
.settings/*
local.properties
bin/*
gen/*
build/*
/bin
/libs
/gen
/build
./assets/config.properties
assets/config.properties
./project.properties
./arlearn.android.properties
./arlearn.android.xml
./gradle/*
./gradlew
./gradlew.bat
./manifest-merger-release-report.txt
./module_arlearn.android.xml

